mixmaster-utils.sublime-project
/.idea
/venv
/Injection.so
/server/gms/GameLog/*
!/server/gms/GameLog/.gitkeep
/server/zs1/GameLog/*
!/server/zs1/GameLog/.gitkeep
/server/gms/log/*
!/server/gms/log/.gitkeep
/server/lgs/log/*
!/server/lgs/log/.gitkeep
/server/zs1/log/*
!/server/zs1/log/.gitkeep
/client/final/download/*
!/client/final/download/.gitkeep
/client/edit/Config/
!/client/edit/Config/.gitkeep
/client/edit/Capture/
!/client/edit/Capture/.gitkeep
/client/edit/Report/
!/client/edit/Report/.gitkeep
/client/edit/temp/
!/client/edit/temp/.gitkeep
/http/vendor/
/http/vendor/*
/launcher/package-lock.json
